@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h1 id="title">@ViewBag.Title</h1>
    @*<h3>@ViewBag.Message</h3>*@
    <div class="container marketing pt-5">
        <div class="row text-lg-center">
            <div class="col-md-4">
                <img class="rounded-circle" src="~/images/mission.png" alt="Generic placeholder image" width="140" height="140">
                <h3>Our Mission</h3>
                <p>At LetsLearnTogether, our mission is to provide accessible and engaging learning resources to individuals worldwide. We believe in the transformative power of education and strive to empower our users to acquire new skills, expand their knowledge, and achieve their personal and professional goals.</p>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="~/images/vission.jpg" alt="Generic placeholder image" width="140" height="140">
                <h3>Our Values</h3>
                <p>Enumerate the guiding principles that shape your organization's culture and operations.</p>
                <p>Discuss key values such as integrity, innovation, inclusivity, or any other principles that are central to your approach.</p>
                <p>Explain how these values influence decision-making and interactions within your team and with your users.</p>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="~/images/values.jpg" alt="Generic placeholder image" width="140" height="140">
                <h3>Our Team</h3>
                <p>Introduce the individuals behind LetsLearnTogether. Highlight key team members and their roles.</p>
                <p>Provide brief bios or summaries of team members' backgrounds, expertise, and contributions to the platform.</p>
                <p>Express the team's dedication to serving users and achieving the organization's mission</p>
            </div>
        </div>
     </div>
</main>