@model LetsLearnTogether.Models.Content
@{
    Layout = "~/Views/Shared/_CustomLayoutPage.cshtml";
    ViewBag.Title = "CategoryItem";
}

<h2>CategoryItem</h2>
<div class="container">
    <form>

    </form>
</div>
